@model Kztek_Core.Models.GridModel<Kztek_Model.Models.tbl_Event>
@using Kztek_Library.Models

@{
    var lstGroup = (List<Kztek_Model.Models.Group>)ViewBag.Groups;

    var lst = (List<Kztek_Model.Models.Service>)ViewBag.lstService;

    var authModel = (Kztek_Library.Models.AuthActionModel)ViewBag.AuthValue;
}

@Html.Hidden("totalCount", Model.TotalIem)

<div class="col-xs-12">
    <table class="table  table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center">STT</th>
                <th class="text-center">
                   Số trang
                </th>
                <th class="text-center">
                    Xe VN
                </th>
                <th class="text-center">
                    Xe TQ
                </th>
                <th class="text-center">Loại hàng </th>
                <th class="text-center">Dịch vụ </th>
                <th class="text-center">Tổ bốc xếp</th>
                <th class="text-center">Trạng thái</th>

            </tr>
        </thead>

        <tbody>
            @if (Model.Data.Any())
            {
                var count = 0;
                foreach (var item in Model.Data)
                {
                    count++;

                    //var objService = services.FirstOrDefault(n => n.Id == item.Service);

            <tr id="sId_@item.Id">
                <td class="text-center">
                    @count
                </td>

                <td class="text-center">
                    @item.ServiceCode 
                </td>

                <td class="center">
                    @item.PlateVN
                </td>
                <td class="center">
                    @item.PlateCN
                </td>
                <td class="center">
                    @item.ProductType
                </td>


                <td class="center">
                    @{
                        if (item.Service != null)
                        {
                            var obj1 = lst != null ? lst.FirstOrDefault(n => n.Id.ToLower() == item.Service.ToLower()) : null;
                            if (obj1 != null)
                            {
                                <span>@obj1.Name</span>
                            }
                        }

                    }


                </td>


                <td class="center">
                    @{
                        var obj = lstGroup != null ? lstGroup.FirstOrDefault(n => n.Id.ToLower() == item.GroupId.ToLower()) : null;
                        if (obj != null)
                        {
                            <span>@obj.Name</span>
                        }
                    }
                </td>
                <td class="text-center">

               
                    @switch (item.EventType)
                    {
                        case 2:
                            <span class="label label-grey">Chưa phân tổ</span>
                            break;
                        case 3:
                            <span class="label label-yellow">Đã phân tổ</span>
                            break;
                        case 4:
                            <span class="label" style="background-color: #385822">Đang thực hiện</span>
                            break;
                        case 5:
                            <span class="label" style="background-color: #7b0fa2 ">Chờ duyệt</span>
                            break;
                      
                    }


                </td>

            </tr>
                }
            }
        </tbody>
    </table>
</div>
@if (Model.Data.Any())
{
    <div class="col-xs-12" id="pagService">
        <div class="pull-right">


            @Html.GeneratePagingFooterAjax(Model.TotalPage, Model.TotalIem, Model.PageIndex, Model.PageSize, "pagination", x => Url.Action("Partial_Service", "Home", new
       {
           page = x,
           key = ViewBag.keyValue,
           Groupid = ViewBag.Groupid,
           StatusID = ViewBag.Evencode 

            }))
        </div>
    </div>
}