
@model Kztek_Model.Models.tbl_Event_Cus


<div id="ModalAssign" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Chọn tổ thực hiện
                </h4>
            </div>
            <div class="modal-body">
                <form id="@string.Format("frmAssign")" class="form-horizontal">
                    @Html.Hidden("serId",Model.Id)
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group row">
                                <div class="col-sm-3 col-form-label text-sm-right pr-0">
                                    <label for="id-form-field-name" class="mb-0">
                                        Biển số VN
                                    </label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" value="@Model.plateVN" disabled />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3 col-form-label text-sm-right pr-0">
                                    <label for="id-form-field-name" class="mb-0">
                                        Biển số CN
                                    </label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" value="@Model.plateCN" disabled />
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-3 col-form-label text-sm-right pr-0">
                                    <label for="id-form-field-name" class="mb-0">
                                        Dịch vụ
                                    </label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" value="@Model.serviceName" disabled />
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-3 col-form-label text-sm-right pr-0">
                                    <label for="id-form-field-name" class="mb-0">
                                        Tổ thực hiện
                                    </label>
                                </div>
                                <div class="col-sm-9">
                                    @Html.DropDownList("GroupId", new SelectList(ViewBag.Group, "ItemValue", "ItemText"), "- Lựa chọn -", new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-3 col-form-label text-sm-right pr-0">
                                    <label for="id-form-field-name" class="mb-0">
                                       Thời gian dự kiến
                                    </label>
                                </div>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        @Html.TextBox("TimeIntend", (string)ViewBag.TimeIntends, new { @class = "form-control drp_auto_input1" })
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" style="background-color: #c00000 !important;border-color: #c00000 !important" id="btnClose" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn" style="background-color: #385822 !important;border-color: #385822 !important" id="btnCompleted">Xác nhận</button>
            </div>
        </div>

    </div>
</div>


