@model List<Kztek_Model.Models.tbl_Event_Cus>

<tr class="showDetailBox-child-@ViewBag.Id trHide bgRowColor">
    <td colspan="7">
        <!--Tab detail-->
        <div class="tabbable SubTab">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a data-toggle="tab" href="#tab1-@ViewBag.Id" aria-expanded="true">
                        Chi tiết
                    </a>
                </li>

            </ul>

            <div class="tab-content clearfix hideTabContent" style="min-height:unset!important">


                <div id="tab1-@ViewBag.Id" class="tab-pane fade active in">
                    <table class="col-sm-9 col-xs-12 table table-bordered table-striped" id="tblLot" style="margin-top:15px">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Dịch vụ</th>
                                <th>Xe VN</th>
                                <th>Xe CN</th>
                                <th>Loại hàng</th>
                                <th>Nhóm hàng</th>
                                <th>Trạng thái</th>
                                <th>Bắt đầu</th>
                                <th>Chọn tổ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count > 0)
                            {
                                int count = 0;
                                foreach (var item in Model)
                                {
                                    count++;
                            <tr>
                                <td>@count</td>
                                <td>@item.serviceName</td>
                                <td>@item.plateVN</td>
                                <td>@item.plateCN</td>
                                <td>@item.productType</td>
                                <td>@item.productGroup</td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(item.EventTypeName))
                                    {
                                        @Html.Raw(item.EventTypeName)
                                    }
                                </td>
                                <td class="text-center">
                                    @item.StartDate
                            </td>
                            <td class="text-center">
                                @if (item.EventType == 3)
                                {
                                    <a class="green btnUpdateGroup" href="javascript:void(0)" title="Chọn tổ" idata="@item.Id">
                                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                                    </a>
                                }
                            </td>
                            </tr>
                                }

                            }

                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </td>
</tr>


