@model List<Kztek_Model.Models.tbl_Event>
@{
    var lst = (List<Kztek_Model.Models.Service>)ViewBag.lstService;
}
@Html.Hidden("totalCount", Model.Count)
@if (Model != null && Model.Count > 0)
{
    var count = 0;
    foreach (var item in Model)
    {
        count++;

        <tr>
            <td class="text-center">
                @count
            </td>

            <td class="center">
                @item.PlateVN
            </td>
            <td class="center">
                @item.PlateCN
            </td>
            <td class="text-left">
                @item.ServiceCode
            </td>
            <td class="center">
                @{
                    var obj = lst != null ? lst.FirstOrDefault(n => n.Id == item.Service) : null;
                    if (obj != null)
                    {
                        <span>@obj.Name</span>
                    }
                }

            </td>
            <td class="center">
                @item.ParkingPosition

            </td>
            <td class="text-left">
                @item.CreatedDate.ToString("dd/MM/yyyy")
            </td>
            <td class="center">
                <a class="green btnAssign" href="javascript:void(0)" idata="@item.Id">
                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                </a>

            </td>
        </tr>
    }
}
