

@model Kztek_Model.Models.tbl_Event

@{

    ViewBag.Title = "Xác nhận hoàn thành dịch vụ";

    var controller = "Co";
    var action = "Confirm";

}

<div class="page-header">
    <h1>
        @ViewBag.Title
    </h1>
</div>
<style>


    .offset-md-3 {
        margin-left: 300px;
    }

    .ragge {
        margin-left: 200px;
    }
    .btnCancel {
        background-color: #c00000 !important;
        border-color: #c00000;
        display: inline-block;
        /* margin-bottom: 0;*/
        font-weight: 400;
        width: 200px;
        text-align: center;
        /*  vertical-align: middle;*/
        touch-action: manipulation;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 10px 10px;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        user-select: none;
        color: #FFF !important;
        text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
        background-image: none !important;
        border: 5px solid #FFF;
        position: relative;
    }

    .btnService {
        background-color: #385822 !important;
        border-color: #385822;
        border: 1px solid transparent;
        border-radius: 10px 10px;
        font-weight: 400;
        width: 200px;
        text-align: center;
        /*  vertical-align: middle;*/
        touch-action: manipulation;
        cursor: pointer;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        /* border-radius: 2px 4px;*/

        user-select: none;
        color: #FFF !important;
        text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
        background-image: none !important;
        border: 5px solid #FFF;
        position: relative;
    }

    .breadcrumb, .breadcrumb > li > a, .btn {
        display: inline-block;
    }
    
</style>

<div class="row">
    @if (TempData["Success"] != null)
    {
        <strong style="color:green">@TempData["Success"]</strong>
    }
    <strong style="color:red">@ViewBag.Error</strong>
</div>

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Update", "Coordinator", FormMethod.Post, new { encType = "multipart/form-data", @class = "form-horizontal", @role = "form" }))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @*@Html.Hidden("LaneID", Model.Model.id.ToString())*@

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Mã đăng kí/Số trang </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("ServiceCode", Model.ServiceCode, new { @class = "form-control", @placeholder = "Số trang", @disabled = "disabled" })
                    @Html.ValidationMessage("ServiceCode", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Xe Việt Nam </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("PlateVN", Model.PlateVN, new { @class = "form-control", @placeholder = "biển số xe VN", @disabled = "disabled" })
                    @Html.ValidationMessage("PlateVN", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Xe Trung Quốc </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("PlateCN", Model.PlateCN, new { @class = "form-control", @placeholder = "Biển số xe TQ", @disabled = "disabled" })
                    @Html.ValidationMessage("PlateCN", "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Số kiện </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("PackageNumber", Model.PackageNumber, new { @class = "form-control", @placeholder = "Số kiện", @disabled = "disabled" })
                    @Html.ValidationMessage("PackageNumber", "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Khối lượng </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("Weight", Model.Weight, new { @class = "form-control", @placeholder = "Khối lượng", @disabled = "disabled" })
                    @Html.ValidationMessage("Weight", "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Loại xe </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("VehicleType", Model.VehicleType, new { @class = "form-control", @placeholder = "Loại xe", @disabled = "disabled" })
                    @Html.ValidationMessage("VehicleType", "", new { @class = "text-danger" })
                </div>
            </div>



            @await Html.PartialAsync("~/Views/Shared/Partials/ButtonPartial.cshtml", new Kztek_Library.Models.AuthPartialModel()
            {
          ControllerName = controller,
          ActionName = action,
          RecordId = "",
          model = new { AreaCode = ViewBag.AreaCodeValue },
          Auth_Value = null
      })

        }
    </div>
</div>

