

@model Kztek_Model.Models.tbl_Event

@{

    ViewBag.Title = "Xác nhận hoàn thành dịch vụ";

    var controller = "Coordinator";
    var action = "Confirm";

}

<div class="page-header">
    <h1>
        @ViewBag.Title
    </h1>
</div>
<style>


    .offset-md-3 {
        margin-left: 400px;
    }

    .ragge {
        margin-left: 80px;
    }


    .breadcrumb, .breadcrumb > li > a, .btn {
        display: inline-block;
    }
</style>

<div class="row">
    @if (TempData["Success"] != null)
    {
        <strong style="color:green">@TempData["Success"]</strong>
    }
    <strong style="color:red">@ViewBag.Error</strong>
</div>

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Update", "Coordinator", FormMethod.Post, new { encType = "multipart/form-data", @class = "form-horizontal", @role = "form" }))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @*@Html.Hidden("LaneID", Model.Model.id.ToString())*@

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Mã đăng kí/Số trang </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("ServiceCode", Model.ServiceCode, new { @class = "form-control", @placeholder = "Số trang", @disabled = "disabled" })
                    @Html.ValidationMessage("ServiceCode", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Xe Việt Nam </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("PlateVN", Model.PlateVN, new { @class = "form-control", @placeholder = "biển số xe VN", @disabled = "disabled" })
                    @Html.ValidationMessage("PlateVN", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Xe Trung Quốc </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("PlateCN", Model.PlateCN, new { @class = "form-control", @placeholder = "Biển số xe TQ", @disabled = "disabled" })
                    @Html.ValidationMessage("PlateCN", "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Số kiện </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("PackageNumber", Model.PackageNumber, new { @class = "form-control", @placeholder = "Số kiện", @disabled = "disabled" })
                    @Html.ValidationMessage("PackageNumber", "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Khối lượng </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("Weight", Model.Weight, new { @class = "form-control", @placeholder = "Khối lượng", @disabled = "disabled" })
                    @Html.ValidationMessage("Weight", "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Loại xe </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("VehicleType", Model.VehicleType, new { @class = "form-control", @placeholder = "Loại xe", @disabled = "disabled" })
                    @Html.ValidationMessage("VehicleType", "", new { @class = "text-danger" })
                </div>
            </div>

          
                <div class="row">
                    <div class="col-md-offset-3 col-md-8">

                        <button class="btnService " type="submit" @string.Format("{0}",( Model.EventType == 5 || Model.EventType == 3 || Model.EventType == 2 ) ? "disabled" :  ""  ) >
                            <i class="fa fa-check mr-1"></i>
                            Xác nhận
                        </button>
                        <a href='@Url.Action("Index", controller, Model)' class="btnCancel ">
                            <i class="fa fa-undo mr-1"></i>
                            Huỷ bỏ
                        </a>
                    </div>

                </div>

          

          
        }
    </div>
</div>

