

@model Kztek_Model.Models.tbl_Event

@{

    ViewBag.Title = "Xác nhận hoàn thành dịch vụ";


}

<div class="page-header">
    <h1>
        @ViewBag.Title
    </h1>
</div>
<style>

    .offset-md-3 {
        margin-left: 400px;
    }

    .ragge {
        margin-left: 200px;
    }
</style>
<div class="row">
    @if (TempData["Success"] != null)
    {
        <strong style="color:green">@TempData["Success"]</strong>
    }
    <strong style="color:red">@ViewBag.Error</strong>
</div>

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Update", "Coordinator", FormMethod.Post, new { encType = "multipart/form-data", @class = "form-horizontal", @role = "form" }))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @*@Html.Hidden("LaneID", Model.Model.id.ToString())*@

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Mã đăng kí/Số trang </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("ServiceCode", Model.ServiceCode, new { @class = "form-control", @placeholder = "Số trang", @disabled = "disabled" })
                    @Html.ValidationMessage("ServiceCode", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Xe Việt Nam </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("PlateVN", Model.PlateVN, new { @class = "form-control", @placeholder = "biển số xe VN", @disabled = "disabled" })
                    @Html.ValidationMessage("PlateVN", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Xe Trung Quốc </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("PlateCN", Model.PlateCN, new { @class = "form-control", @placeholder = "Biển số xe TQ", @disabled = "disabled" })
                    @Html.ValidationMessage("PlateCN", "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Số kiện </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("PackageNumber", Model.PackageNumber, new { @class = "form-control", @placeholder = "Số kiện", @disabled = "disabled" })
                    @Html.ValidationMessage("PackageNumber", "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Khối lượng </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("Weight", Model.Weight, new { @class = "form-control", @placeholder = "Khối lượng", @disabled = "disabled" })
                    @Html.ValidationMessage("Weight", "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Loại xe </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("VehicleType", Model.VehicleType, new { @class = "form-control", @placeholder = "Loại xe", @disabled = "disabled" })
                    @Html.ValidationMessage("VehicleType", "", new { @class = "text-danger" })
                </div>
            </div>
          
          
            <div class="row">
                <div class="mt-5 border-t-1 bgc-secondary-l4 brc-secondary-l2 py-35 mx-n25">
                    <div class="offset-md-3 col-md-9 text-nowrap">
                        <button class="btn btn-warning btn-bold px-4" type="submit">
                            <i class="fa fa-check mr-1"></i>
                            Xác nhận
                        </button>

                        <a class="btn ragge btn-outline-lightgrey btn-bgc-white btn-bold ml-2 px-4" href="/Admin/Coordinator/Index">
                            <i class="fa fa-undo mr-1"></i>
                            Hủy bỏ
                        </a>
                    </div>
                </div>
            </div>

        }
    </div>
</div>

