

@model Kztek_Model.Models.tbl_Event

@{

    ViewBag.Title = "Tổ CN xác nhận";


}

<div class="page-header">
    <h1>
        @ViewBag.Title
    </h1>
</div>
<style>


    .offset-md-3 {
        margin-left: 400px;
    }

    .ragge {
        margin-left: 50px;
    }

    .btnCancel {
        background-color: #c00000 !important;
        border-color: #c00000;
        display: inline-block;
        /* margin-bottom: 0;*/
        font-weight: 400;
        width: 200px;
        text-align: center;
        /*  vertical-align: middle;*/
        touch-action: manipulation;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 10px 10px;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        user-select: none;
        color: #FFF !important;
        text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
        background-image: none !important;
        border: 5px solid #FFF;
        position: relative;
    }

    .btnService {
        background-color: #385822 !important;
        border-color: #385822;
        border: 1px solid transparent;
        border-radius: 10px 10px;
        font-weight: 400;
        width: 200px;
        text-align: center;
        /*  vertical-align: middle;*/
        touch-action: manipulation;
        cursor: pointer;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        /* border-radius: 2px 4px;*/

        user-select: none;
        color: #FFF !important;
        text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
        background-image: none !important;
        border: 5px solid #FFF;
        position: relative;
    }

    .breadcrumb, .breadcrumb > li > a, .btn {
        display: inline-block;
    }
    }
</style>

<div class="row">
    @if (TempData["Success"] != null)
    {
        <strong style="color:green">@TempData["Success"]</strong>
    }
    <strong style="color:red">@ViewBag.Error</strong>
</div>

<div class="row">
    <di class="col-xs-12">
        @using (Html.BeginForm("Update", "ConfirmedGroup", FormMethod.Post, new { encType = "multipart/form-data", @class = "form-horizontal", @role = "form" }))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @*@Html.Hidden("LaneID", Model.Model.id.ToString())*@

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Mã đăng kí/Số trang </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("ServiceCode", Model.ServiceCode, new { @class = "form-control", @placeholder = "Số trang", @disabled = "disabled" })
                    @Html.ValidationMessage("ServiceCode", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Xe Việt Nam </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("PlateVN", Model.PlateVN, new { @class = "form-control", @placeholder = "biển số xe VN", @disabled = "disabled" })
                    @Html.ValidationMessage("PlateVN", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Xe Trung Quốc </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("PlateCN", Model.PlateCN, new { @class = "form-control", @placeholder = "Biển số xe TQ", @disabled = "disabled" })
                    @Html.ValidationMessage("PlateCN", "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Loại xe </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("VehicleType", Model.VehicleType, new { @class = "form-control", @placeholder = "Loại xe", @disabled = "disabled" })
                    @Html.ValidationMessage("VehicleType", "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Loại hàng </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("ProductType", Model.ProductType, new { @class = "form-control", @placeholder = "Loại hàng", @disabled = "disabled" })
                    @Html.ValidationMessage("ProductType", "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Số lượng </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("Quantity", Model.Quantity, new { @class = "form-control", @placeholder = "Số lượng", @disabled = "disabled" })
                    @Html.ValidationMessage("Quantity", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Vị trí đỗ </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("ParkingPosition", Model.ParkingPosition, new { @class = "form-control", @placeholder = "Vị trí đỗ", @disabled = "disabled" })
                    @Html.ValidationMessage("ParkingPosition", "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="mt-5 border-t-1 bgc-secondary-l4 brc-secondary-l2 py-35 mx-n25">
                    <div class="offset-md-3 col-md-9 text-nowrap">
                        <button class="btn btnService btn-bold px-4 btnStart" type="button" idata="@Model.Id">
                            <i class="fa fa-check mr-1"></i>
                            Bắt đầu
                        </button>


                        <button class="btn ragge btnCancel btn-bold px-4" type="submit">
                            <i class="fa fa-check mr-1"></i>
                            Đã làm xong
                        </button>
                    </div>
                </div>
            </div>

        }
    </di>
</div>
@section scripts{
    <script>
        $(document).ready(function () {



            $(".btnStart").click(function () {
                var cmd = $(this);
                var eventype = 4;
                var id = cmd.attr('idata');
                var model = {
                    eventype: eventype,
                    id: id,
                }
                JSHelper.AJAX_HttpPost('/Admin/ConfirmedGroup/UpdateEvent', model)
                    .success(function (response) {
                        if (response.isSuccess) {
                            window.location.href = "/Admin/ConfirmedGroup/Index";
                        } else {
                            toastr.error(response.Message)
                        }
                    });


            });
        });
    </script>
}

