

@model Kztek_Model.Models.tbl_Event

@{

    ViewBag.Title = "Tổ CN xác nhận";


}

<div class="page-header">
    <h1>
        @ViewBag.Title
    </h1>
</div>
<style>


    .offset-md-3 {
        margin-left: -20px;
    }

    .ragge {
        margin-left: 40px;
    }

   

    .breadcrumb, .breadcrumb > li > a, .btn {
        display: inline-block;
    }
    
</style>

<div class="row">
    @if (TempData["Success"] != null)
    {
        <strong style="color:green">@TempData["Success"]</strong>
    }
    <strong style="color:red">@ViewBag.Error</strong>
</div>

<div class="row">
    <di class="col-xs-12">
        @using (Html.BeginForm("Update", "ConfirmedGroup", FormMethod.Post, new { encType = "multipart/form-data", @class = "form-horizontal", @role = "form" }))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @*@Html.Hidden("LaneID", Model.Model.id.ToString())*@

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Mã đăng kí/Số trang </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("ServiceCode", Model.ServiceCode, new { @class = "form-control", @placeholder = "Số trang", @disabled = "disabled" })
                    @Html.ValidationMessage("ServiceCode", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Xe Việt Nam </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("PlateVN", Model.PlateVN, new { @class = "form-control", @placeholder = "biển số xe VN", @disabled = "disabled" })
                    @Html.ValidationMessage("PlateVN", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Xe Trung Quốc </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("PlateCN", Model.PlateCN, new { @class = "form-control", @placeholder = "Biển số xe TQ", @disabled = "disabled" })
                    @Html.ValidationMessage("PlateCN", "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Loại xe </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("VehicleType", Model.VehicleType, new { @class = "form-control", @placeholder = "Loại xe", @disabled = "disabled" })
                    @Html.ValidationMessage("VehicleType", "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Loại hàng </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("ProductType", Model.ProductType, new { @class = "form-control", @placeholder = "Loại hàng", @disabled = "disabled" })
                    @Html.ValidationMessage("ProductType", "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Số lượng </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("Quantity", Model.Quantity, new { @class = "form-control", @placeholder = "Số lượng", @disabled = "disabled" })
                    @Html.ValidationMessage("Quantity", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Vị trí đỗ </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("ParkingPosition", Model.ParkingPosition, new { @class = "form-control", @placeholder = "Vị trí đỗ", @disabled = "disabled" })
                    @Html.ValidationMessage("ParkingPosition", "", new { @class = "text-danger" })
                </div>
            </div>
          
                <div class="row">
                    <div class="col-md-offset-3 col-md-8">
                        <button class=" btnService btnStart " type="button" idata="@Model.Id"  @string.Format("{0}",( Model.EventType == 4 || Model.EventType == 5  ||  Model.EventType == 6) ? "disabled" :  "" ) >
                            <i class="fa fa-check mr-1"></i>
                            Bắt đầu
                        </button>


                        <button class=" btnCancel  " type="submit"  @string.Format("{0}",( Model.EventType == 3 || Model.EventType == 5  ||  Model.EventType == 6) ? "disabled" :  "" )>
                            <i class="fa fa-check mr-1"></i>
                            Đã làm xong
                        </button>
                    </div>
                </div>
           
      
            <div class="ace-settings-container" id="ace-settings-container" style="position: fixed; top: 155px;">
                <div class="btn btn-app btn-xs btn-grey ace-settings-btn open" id="ace-settings-btn">
                    <i class="ace-icon fa fa-cog bigger-130"></i>
                </div>

                <div class="ace-settings-box clearfix open" id="ace-settings-box">
                    <!-- /.pull-left -->
                    <div class="bg-rightbox">
                        <div class="clearfix lineButton">
                            <div class="col-md-12 input-group">

                                <a href='@Url.Action("Index", "ConfirmedGroup",Model )' class="btn btn-yellow">
                                    <i class="ace-icon fa fa-chevron-circle-left bigger-110"></i>
                                    @await Component.InvokeAsync("Language", new { path = "BODY:BUTTON:BACKTOLIST" })
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.pull-left -->
                </div><!-- /.ace-settings-box -->
            </div>

        }
    </di>
</div>
@section scripts{
    <script>
        $(document).ready(function () {



            $(".btnStart").click(function () {
                var cmd = $(this);
                var eventype = 4;
                var id = cmd.attr('idata');
                var model = {
                    eventype: eventype,
                    id: id,
                }
                JSHelper.AJAX_HttpPost('/Admin/ConfirmedGroup/UpdateEvent', model)
                    .success(function (response) {
                        if (response.isSuccess) {
                            window.location.href = "/Admin/ConfirmedGroup/Index";
                        } else {
                            toastr.error(response.Message)
                        }
                    });


            });
        });
    </script>
}

