

@model Kztek_Model.Models.tbl_Event

@{

    ViewBag.Title = "Thay đổi tổ bốc xếp";
    var controller = "";

}

<div class="page-header">
    <h1>
        @ViewBag.Title
    </h1>
</div>
<style>


    .offset-md-3 {
        margin-left: -20px;
    }

    .ragge {
        margin-left: 40px;
    }

   

    .breadcrumb, .breadcrumb > li > a, .btn {
        display: inline-block;
    }
    
</style>

<div class="row">
    @if (TempData["Success"] != null)
    {
        <strong style="color:green">@TempData["Success"]</strong>
    }
    <strong style="color:red">@ViewBag.Error</strong>
</div>

<div class="row">
    <di class="col-xs-12">
        @using (Html.BeginForm("Update", "ConfirmedGroup", FormMethod.Post, new { encType = "multipart/form-data", @class = "form-horizontal", @role = "form" }))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @*@Html.Hidden("LaneID", Model.Model.id.ToString())*@

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Mã đăng kí/Số trang </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("ServiceCode", Model.ServiceCode, new { @class = "form-control", @placeholder = "Số trang", @disabled = "disabled" })
                    @Html.ValidationMessage("ServiceCode", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Xe Việt Nam </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("PlateVN", Model.PlateVN, new { @class = "form-control", @placeholder = "biển số xe VN", @disabled = "disabled" })
                    @Html.ValidationMessage("PlateVN", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Xe Trung Quốc </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("PlateCN", Model.PlateCN, new { @class = "form-control", @placeholder = "Biển số xe TQ", @disabled = "disabled" })
                    @Html.ValidationMessage("PlateCN", "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Tổ bốc xếp</label>
                <div class="col-sm-3 col-xs-12">
                    @await Component.InvokeAsync("ChosenSelect", ViewBag.AllGroup)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Loại hàng </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("ProductGroup", Model.ProductGroup, new { @class = "form-control", @placeholder = "Loại hàng", @disabled = "disabled" })

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Loại hàng </label>
                <div class="col-sm-3 col-xs-12">
                    @Html.TextBox("ProductType", Model.ProductType, new { @class = "form-control", @placeholder = "Loại hàng", @disabled = "disabled" })

                </div>
            </div>





            @await Html.PartialAsync("~/Views/Shared/Partials/ButtonPartial.cshtml", new Kztek_Library.Models.AuthPartialModel()
             {
           ControllerName = "ConfirmedGroup",
           ActionName = "Update",
           RecordId = "",
           model = new { AreaCode = ViewBag.AreaCodeValue },
           Auth_Value = null
       })

        }
    </di>
</div>
@section scripts{
    <script>
        $(document).ready(function () {



            $(".btnStart").click(function () {
                var cmd = $(this);
                var eventype = 4;
                var id = cmd.attr('idata');
                var model = {
                    eventype: eventype,
                    id: id,
                }
                JSHelper.AJAX_HttpPost('/Admin/ConfirmedGroup/UpdateEvent', model)
                    .success(function (response) {
                        if (response.isSuccess) {
                            window.location.href = "/Admin/ConfirmedGroup/Index";
                        } else {
                            toastr.error(response.Message)
                        }
                    });


            });
        });
    </script>
}

